
body{
	background-color: #E7DCB7;
}

p
{
	margin-left:45px;
	font-size: 20px;
}
a
{
	font-size: 42px;
	margin-left:10px;
	font-family: Calibri;
	text-decoration:none; 
	color:black;
	cursor:help; 
	
}


.palacio
{
	float: right;
	width: 150px;
	margin: 10px; 
	padding: 10px; 
	border: 1px solid #AC1BDA; 
}

.universidad
{
	height: 10%; 
	width: 10%; 
	padding: 5px; 
	margin: 5px; 
	border: 5px solid red; 
	float: left; 
}
article
{
	font-family:Tahoma;
	margin-left:40px;
	font-size: 20px;
}
table, td
{
	border: 1px solid #6864A4;
	background: #979DB5;
	padding:10px;
	
}
th,tr
{
	background:lightcyan;
}

#celda_video
{
	background:red;
}
#pasantia
{
	text-align: center;
}
#video_ing{
	height:50%;
	width:50%;
	border:5px solid lightskyblue;
	
}
.titulo_2{
	font-family: 'Tourney', cursive;
	color:blue;
	text-align: center;
	margin:20px;
	border-color:#FC0421;
	border-style: dashed double dotted double;

}
.uba2
{
	height: 40%; 
	width: 40%; 
	padding: 5px; 
	margin: 5px; 
	border: 5px dashed blue; 
	float: right;
}